<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <!-- port 8080 is being used on my machine. updated this so it runs on my box -->
        <!-- if not work uncomment the following, or change to your install of RavenDB -->
        <add name="RavenDB" connectionString="Url=http://localhost:8080"/>
        <add name="Mark-PC-2" connectionString="Url=http://mark-pc-2:8080"/>
        <add name="csi2008r2" connectionString="Url=http://csi2008r2:8081"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
