@model IEnumerable<Web.Models.Presentation>

@{
    ViewBag.Title = "Home";
}

<ul>
    @foreach (var presentation in Model)
    {
        <li>@presentation.Title</li>
    }
        
</ul>
