
@{
    ViewBag.Title = "Facebook Test Page";
}

<h2>@ViewBag.Title</h2>
<div id="user-info"></div>
<a id="js-facebook-login-btn" class="btn btn-fb-reg">Login with Facebook</a>
<div class="fb-like" data-href="http://www.ssdotnet.org" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
<script type="text/javascript">
    require(['core', 'facebook'], function ($, facebook) {
        facebook.setup();
        facebook.ready(function () {
            $('#js-facebook-login-btn').on('click', function () {
                FB.login(function (response) {
                    if (response.authResponse) {
                        console.log('User is connected to the application.');
                        var accessToken = response.authResponse.accessToken;
                        $.ajax({
                            dataType: 'json',
                            url: '/session/create',
                            data: {
                                facebookToken: accessToken
                            },
                            success: function (result) {
                                console.dir(result);
                            },
                            error: function () {
                                console.write('OMG SOMETHING ASPLODEDED!');
                            }
                        });
                    }
                });
            });
            FB.getLoginStatus(updateButton);

            function updateButton(response) {
                var userInfo = $('#user-info');
                FB.api('/me', function (response) {
                    console.dir(response);
                    $('<img src="https://graph.facebook.com/' + response.id + '/picture">' + response.name).appendTo(userInfo);
                });
            };
        });
    }); 
</script>