@{
    ViewBag.Title = "404";
}

<style type="text/css">
    html, body {
        background-image: url('@Url.Content("~/Content/images/snowcrash.png")');
    }

    h3 {
        font-size: 48px;
        color: #fff;
        text-shadow: 1px 1px 6px #fff;
    }
    footer, .ravendb-profiler-results {
        display: none;
    }
</style>
<p>&nbsp;</p>
<h3>404 - Page not Found</h3>